*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media(max-width: 360px)
{
    /*prefixing*/
    *{
    margin: 0;padding: 0;box-sizing: border-box;
    }
    
    html {
        position: absolute;
        width: 360px;
    }
    
    body{
        font-family: Arial;
        background: #000;
        width: 100%;
    }
    section div h1 {
        clear:both;
        width: 100%;
        display: block;
    }
    /*prefixing*/
    header {
        text-align: center;
    }
    /*container*/
    .container nav{
        align-items: center;
        justify-content: center;
    }
    /*container*/
    
    /*classes*/
    .logo {}
    .purple-color{}
    .half_side{
        
        padding:10px 10px
        object-fit: center;
    }
    
    .side_img{
        height: 400px;
        width: 150px;
    }
    .primary-btn{}
    .experiences{}
    .experience-item{}
    .sticky{
        background-color: rgba(51,50,30,0.7);
    }
    /*classes*/
}
body
{
    font-family: sans serif;
    color:#777777;
    line-height:36px;
    background-image: url('https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80');
}
nav{
    position: absolute;
    top: 0;
    left: 0;
     width:100vw;
     height:60px;
     aling-item:center;
     text-align:center;display:flex;position:relative;background-color:#333;}
.logo{
    font-size:30px;
    color:gold;
    justify-content:center;
    position:absolute;
    margin:0;
    padding:/*30px*/;
}

.purple-color{
    color:#8845f4;

}
.half_side{
    width: 50%;
    float: left;
}
.side_img{
    width: 100% 
    padding-left: auto;
}
.primary-btn{
    color: white;
    background-color:#8845f4;
    padding: 13px 45px 13px 45px;
    text-decoration: none;
    border-radius: 20px;
}    
h1 { font-size: 2pc; }
.container{
    padding-left: ;
    display: inline-block;
}
.experiences{
    padding: 30px;
    margin: 30px;
    background-color: rgb(238,251,255);
    border-radius: 20px;
}
.experience-item{
    padding: 10px;
    border-left: 1px solid rgba(137,130,247,.2);
}

